[Unit]
Description=Project Lily Server
After=network.target
Wants=network.target
StartLimitIntervalSec=0
StartLimitBurst=3

[Service]
Type=simple
Restart=always
RestartSec=5
EnvironmentFile=/root/project-lily/server.env
WorkingDirectory=/var/www/project-lily
ExecStart=/root/project-lily/target/release/project-lily-server

[Install]
WantedBy=multi-user.target
