name: 'publish'

on:
  workflow_dispatch:
  push:
    branches:
      - release

jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: 'ubuntu-22.04'
            args: ''
            path: './target/release/vrctv-server'
            extension: ''
          - platform: 'ubuntu-22.04-arm' # Only available in public repos.
            args: ''
            path: './target/release/vrctv-server'
            extension: '-arm'
          - platform: 'windows-latest'
            args: ''
            path: './target/release/vrctv-server.exe'
            extension: '.exe'

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04' # This must match the platform value defined above.
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'pnpm' # Set this to npm, yarn or pnpm.

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: Rust cache
        uses: swatinem/rust-cache@v2

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
          cache: true
          cache_dependency_path: vrctv-desktop/package.json

      - name: install frontend dependencies
        # If you don't have `beforeBuildCommand` configured you may want to build your frontend here too.
        run: cd vrctv-desktop && pnpm install

      - name: build server
        run: cd vrctv-server && cargo build --release

      - uses: tauri-apps/tauri-action@v0
        id: tauri_build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          projectPath: './vrctv-desktop'
          tagName: app-v__VERSION__ # the action automatically replaces \_\_VERSION\_\_ with the app version.
          releaseName: 'App v__VERSION__'
          releaseBody: 'See the assets to download this version and install.'
          releaseDraft: true
          prerelease: false
          args: ${{ matrix.args }}

      - name: Upload server binaries
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.tauri_build.outputs.upload_url }}
          asset_path: ${{ matrix.path }}
          asset_name: vrctv-server-${{ matrix.platform }}${{ matrix.extension }}
          asset_content_type: application/octet-stream